<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background:linear-gradient(.536turn,#ec5252,#6e1a52);">
		<h2 class="l-text2 t-center">
			Sobre nosotros
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
            <div class="row">
				<div class="col-md-4 p-b-30">
					<div class="hov-img-zoom">
						<img src="images/HistoriaPortada.png" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
                        Nuestra historia
					</h3>

					<p class="p-b-28">
                        {{about.historia}}
					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
							Si lo puedes imaginar lo puedes hacer realidad, gracias a tu trabajo, pasión... y unas cuantas lineas de codigo, claro.
						</p>

						<span class="s-text7">
							- Eduardo Ricardez
						</span>
					</div>

                    <h3 class="m-text26 p-t-15 p-b-16">
                        Nuestra misión
					</h3>

					<p class="p-b-28">
                        {{about.mision}}
					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
							Si lo puedes imaginar lo puedes hacer realidad, gracias a tu trabajo, pasión... y unas cuantas lineas de codigo, claro.
						</p>

						<span class="s-text7">
							- Eduardo Ricardez
						</span>
					</div>

                    <h3 class="m-text26 p-t-15 p-b-16">
                        Nuestra visión
					</h3>

					<p class="p-b-28">
                        {{about.vision}}
					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
							Si lo puedes imaginar lo puedes hacer realidad, gracias a tu trabajo, pasión... y unas cuantas lineas de codigo, claro.
						</p>

						<span class="s-text7">
							- Eduardo Ricardez
						</span>
					</div>

				</div>
                
			</div>

			
		</div>
	</section>